li:hover,
.home:hover {
  background-color: rgb(51, 59, 61);
}

i:hover,
a:hover {
  background-color: rgb(45, 51, 53);
  cursor: pointer;
}

nav {
  background-color: #212529;
}

i {
  font-size: 24px;
  padding-right: 6px;
  color: #6f7180;
}

.nav-home:hover {
  background-color: rgb(51, 59, 61);
}

mat-radio-button {
  color: white;
}

a {
  display: flex;
  align-items: center;
  padding: 3px 4px;
  margin-bottom: 2px;
  transition: 0.3s;
  font-size: 15px;
}

li {
  display: inline-flex;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
    padding: 10px 0;
  }

  .navbar-nav .nav-item {
    margin: 5px 0;
  }

  .nav-item :hover{
    cursor: pointer;
  }

  .navbar-nav .nav-link {
    padding: 10px 15px;
    font-size: 16px;
  }

  .navbar-toggler {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 480px) {
  .navbar-nav .nav-link {
    padding: 8px 12px;
    font-size: 14px;
  }
}