.social {
  text-align: center;
  padding-bottom: 25px;
}

.social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  /* border-radius: 50%; */
  /* border: 1px solid #ccc; */
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .social {
    padding: 20px 0;
  }

  .social>a {
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 6px;
  }
}

@media (max-width: 480px) {
  .social>a {
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 4px;
  }
}