/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */
}

/* Global Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .col-md-4,
    .col-md-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col-md-4,
    .col-md-6 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.mat-stepper-vertical-line::before {
    border-left-color: white !important;
}

.mat-step-label.mat-step-label-active {
    color: white !important;
}

.mat-step-icon-selected {
    background-color: deeppink !important;
}

.mat-progress-bar {
    border-radius: 2px !important;
}

.mdc-linear-progress__bar-inner {
    border-color: #3fb54f !important;
}

.mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: rgb(251 251 251 / 97%) !important;
}

.mat-mdc-progress-bar {
    border-radius: 10px;
    --mdc-linear-progress-track-height: 12px !important;
    --mdc-linear-progress-active-indicator-height: 12px !important;
}